<h1>TravelApp</h1>
{{#link-to "countries" class="side-nav__link"}}Countries{{/link-to}}
{{#link-to "cities" class="side-nav__link"}}Cities{{/link-to}}
{{#link-to "cities.new" class="side-nav__link"}}New City{{/link-to}}
