<h1 class="side-nav__title">TravelApp</h1>
{{#link-to "countries" class="side-nav__base-link"}}Countries{{/link-to}}
{{#link-to "countries.new" class="side-nav__sub-link"}}New Country{{/link-to}}

{{#link-to "cities" class="side-nav__base-link"}}Cities{{/link-to}}
{{#link-to "cities.new" class="side-nav__sub-link"}}New City{{/link-to}}

{{#link-to "currencies" class="side-nav__base-link"}}Currencies{{/link-to}}
{{#link-to "currencies.new" class="side-nav__sub-link"}}New Currency{{/link-to}}

{{#link-to "languages" class="side-nav__base-link"}}Languages{{/link-to}}
{{#link-to "languages.new" class="side-nav__sub-link"}}New Language{{/link-to}}

{{#link-to "locations" class="side-nav__base-link"}}Locations{{/link-to}}
{{#link-to "locations.new" class="side-nav__sub-link"}}New Location{{/link-to}}

{{#link-to "regions" class="side-nav__base-link"}}Regions{{/link-to}}
{{#link-to "regions.new" class="side-nav__sub-link"}}New Region{{/link-to}}
