<label>Name: {{input type="text" value=country.nameEnglish}}</label><br>
<label>Name (local): {{input type="text" value=country.nameLocal}}</label><br>
<label>Description: {{textarea value=country.description}}</label><br>
<button {{action saveCountry country}}>SAVE</button>
