Name: {{country.nameEnglish}}<br>
Name (local): {{country.nameLocal}}<br>
Description: {{country.description}}<br>
Cities:
<ul>
{{#each country.cities as |city|}}
  <li>{{#link-to "city" city.id}}{{city.nameEnglish}}{{/link-to}}</li>
{{/each}}
</ul>
