<label>Name: {{input type="text" value=city.nameEnglish}}</label><br>
<label>Name (local): {{input type="text" value=city.nameLocal}}</label><br>
<label>Description: {{input type="text" value=city.description}}</label><br>
<button {{action saveCity city}}>SAVE</button>
